.top-section {
    background-color: hsl(215, 45%, 37%);
    color: rgb(8, 14, 27);
    text-align: left;
    padding: 10px;
 }
.top-section a {
    margin-right: 20px;
}

.p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    overflow: hidden;    
}
.input-container {
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
}

.left-section {
    background-color:rgb(252, 246, 239);
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.right-section {
    flex-direction: column;
    max-width: 50%;
    padding: 10px;
}

.illustration {
    width: 450px;
    height: 370px;
}

.right-section img {
    display: none;
}
.caption {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: auto;
    font-family: 'Lucida', sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #000;
}

.icons {
    text-align: center;
}
.icons-copyright {
    font-size: 10px;
    font-weight: 100;
}
.icons a{
    text-decoration: none;
    margin-right: 16px;
}
.fa-brands.fa-twitter {
    color: hsl(210, 100%, 50%)
}
.fa-brands.fa-instagram {
    color: hsl(275, 100%, 49%);
}
.fa-brands.fa-facebook {
    color:hsl(210, 100%, 45%);
}
.fa-brands.fa-linkedin-in {
    color: hsl(209, 100%, 70%)db;
}

.text {
    display: flex;
    justify-content: flex-end;
}

.form-group {
    margin-bottom: 15px;
}
.intro {
    overflow-x: scroll;
    overflow-x: hidden;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
select {
    width: 250px;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[list="genders"],
input[list="sources"],
input[list="countries"],
input[type="password"],
select {
    font-family: 'Verdana', sans-serif;
    font-size: 13px;
    padding: 5x;    
}
input {
    background-color: #f0f0f0;
    height: 60px;
    text-indent: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    width: 250px;
    cursor:context-menu;
    transition: border-color 0.3s ease;
}
.input datalist{
    color: white
}
#source {
    width: 525px;
}
.custom-input:hover {
    border-color: #3498db;
}
.custom-input:focus {
    border-color: #04b3f8;
    outline: none;
}

.btn-arrow {
    display: inline-flex;
    justify-content: center;
    background-color: hsl(220, 83%, 60%);
    color: white;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    gap: 100px;
    width: 525px;
}

.btn-arrow:hover {
    background-color: hsl(220, 83%, 70%) ;
}

.btn-arrow::after {
    content: →;
    font-size: 18px;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.audio {
    display: flex;
    justify-content: center;
    align-items: center;
}
.video {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 750px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .left-section {
        display: none;
    }
    .right-section img {
        display: block;
        width: 450px;
        height: 75px;
        text-align: center;
    }
    .intro {
        overflow-x: scroll;
        overflow-x: visible;
    }
    .text {
        width: 430px;
        font-size: smaller;
    }
    .input-container {
        display: block;
        margin-bottom: 10px;
        font-size: smaller;
    }
    label {
        font-size: small;
        margin-bottom: 3px;
        margin-left: 5%;
        color: #495057;
        width: 450px;
    }
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
input[list="genders"],
input[list="countries"],
input[list="sources"],
select {
    width: 430px;
    height: 40px;
    font-size: smaller;
    border-radius: 3px;
    margin-left: 5%;
}
input {
    margin-bottom: 8px;
    gap: 50px;
    font-size: smaller;
}

h2 {
    font-size: large;
}
#intro {
    width: 400px;
    font-size: smaller;
}
#source {
    width: 430px;
}
#terms-and-conditions {
    width: 430px;
    font-size: x-small;
}
.btn-arrow {
    width: 420px;
    height: 40px;
    font-size: x-small;
}
header nav a {
    margin-left: 5px;
}
caption {
    font-size: x-large;
}
table, th, td {
    align-content: center;
    width: 300px;
    margin-left: 100px;
    margin-right: 60px;
}
img {
    width: 200px;
    height: 250px;
}
video {
    width: 250px;
}
} 